
body {
	font-family:'Roboto',sans-serif;
	margin:0;
	padding:0;
	background-color: #0b192f;
}
body a{
	text-decoration:none;
}
.post-1 {
	background: #B71757;
}
.post-2 {
	background: #0D7E71;
}
.post-3 {
	background: #b1660e;
}
.post-4 {
	background: #d12767;
}
.post-5 {
	background: #2d95bb;
}
.footer-header{
	background-color:#162b4d;
	margin:0 auto;
	width:80%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
div.main-wrap{
	width:100%;
	display:flex;
	flex-direction:column;
}
div.main-wrap header div.icon-menu{
	display:none;
}
div.main-wrap header div.icon-menu a{
	color:#ffff;
}
div.main-wrap header div.logo{
   margin-left:30px;
} 
div.main-wrap header div.logo h1 a{
		color:#fff;
		font-weight:300;
		text-decoration:none;
}
div.main-wrap header div.logo h1 a span{
	color:#9b2b4d;
}
div.main-wrap header div.menu{
	margin-right:30px;
}
div.main-wrap header div.menu nav a{
	text-decoration:none;
	color:#fff;
	margin-right:50px;
}
div.main-wrap header div.menu nav a:first-child:hover{
	            outline:30px solid #283d5f;
               background-color:#283d5f; 
}
div.main-wrap header div.menu nav a:nth-child(2):hover{
	outline:30px solid #283d5f;
	 background-color:#283d5f; 
}
div.main-wrap header div.menu nav a:nth-child(3):hover{
	outline:30px solid #283d5f;
	 background-color:#283d5f; 
}
div.main-wrap header div.menu nav a:last-child:hover{
	outline:30px solid #283d5f;
	 background-color:#283d5f; 
}
div.container{
	display:flex;
	flex-direction:row;
	width:80%;
	margin:0 auto;
}
div.container main {
	width:70%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	padding:30px 30px 30px 0;
}
div.container main div.block{
	width:50%;
}
div.container main div.block div:first-child{
	height:100%;
}
div.container main div.block:last-child{
width:100%;
}
div.container main div.block:nth-child(2){
	 background-color:#B71757;

}
div.container main div.block:nth-child(3){
	background-color:#0D7E71;
}

div.container main div.block:nth-child(3) div.post{
 flex-direction:row-reverse;
 margin-left:1%;
}
div.container main div.block:nth-child(3) div.post p{
	margin-right:10px;
}
div.container main div.block:nth-child(3) div.post h4{
	margin:30px 15px 0 0;
}
div.container main div.block:nth-child(3) div.date-box{
	margin-left:0;
}
div.container main div.block:nth-child(6){
background-color:#b1660e;
}
div.container main div.block:nth-child(7){
	background-color:#d12767;
	}
	div.container main div.block:nth-child(7) div.post{
		flex-direction:row-reverse;
		margin-left:1%;
	 }
	 div.container main div.block:nth-child(7) div.post p{
		 margin-right:10px;
	 }
	 div.container main div.block:nth-child(7) div.post h4{
		 margin:30px 15px 0 0;
	 }
	 div.container main div.block:nth-child(7) div.date-box{
		 margin-left:0;
	 }
	div.container main div.block:last-child{
		background-color:#2d95bb;		
		}
		div.container main div.block div.post h4{
			color:#ffff;
			font-weight:300;
			font-size:30px;
			width:52%;
			margin:30px 0 0 0;
		}
		div.container main div.block:last-child div.post h4{
			width:60%;
			padding-bottom:3%;
			margin-left:0;
	 }
	 div.container main div.block:last-child div.post p{
		padding-bottom:3%;	
	 }
	 div.container main div.block div p{
		  display:flex;
			color:#ffff;
			width:80%;
			font-weight:300;
			font-size:15px;
			opacity:0.7;	
			margin-bottom:50px;
		}
		div.container main div.block div.post div.date-box p{
			margin:0;	
			font-size:18px;
			font-weight:300;
			opacity:0.4;
			color:#fff;	
		}
		div.container main div.block div.post{
				display:flex;
				flex-wrap:wrap;
				justify-content:space-between;
				margin-left:7%;								
		}
		div.container main div.block div.post:hover{
			cursor:pointer;
			filter:opacity(50%);
		}
		div.container main div.block div img:hover{
			cursor:pointer;
			filter:opacity(0.5);
		}
		div.container main div.block div.pincolor:hover{
			background-color:pink;
		}
		div.container main div.block div.post div.date-box{
			display:flex;
			flex-direction:column;
			flex-wrap:wrap;
			padding:5px;
			height:45%;		
		}
		div.container main div.block div.post div.date-box span{
			font-size:35px;
			font-weight:300;
			opacity:0.4;
			color:#fff;
		}
div.main-wrap div.container aside{
	width:30%;
	display:flex;
	flex-direction:column;
}
div.main-wrap div.container aside div{
background-color:#ffffff;
}
div.main-wrap div.container aside div:first-child{
	margin:30px 0 30px 0;
}
div.main-wrap div.container aside div img{
	width:100%;
}
div.main-wrap div.container aside div div.content{
padding:30px;
}
div.main-wrap div.container aside div div.content h4{
	font-weight:500;
	font-size:24px;
	margin:0 auto;
	width:70%;
	}
	div.main-wrap div.container aside div div.content p{
		padding:10px;
		font-weight:300;
		font-size:18px;
		margin:0 auto;
		}
div.main-wrap footer div:first-child{
	margin-left:35px;
	width:50%;
}
div.main-wrap footer div:first-child p:first-child{
	margin-bottom:0;
}
div.main-wrap footer div:first-child p a{
	color:#fff;
	font-weight:100;
	opacity:0.5;	
}
div.main-wrap footer div:first-child p:last-child{
	margin-top:0;
}
div.main-wrap footer div:last-child{
	margin-right:35px;
}
div.main-wrap footer div:last-child p a{
	color:#fff;
	font-weight:100;
	opacity:0.5;
}
div.main-wrap footer div:last-child p:last-child{
	margin-top:0;
}
div.main-wrap footer div:last-child p:first-child{
	margin-bottom:0;
}
@media only screen and (max-width: 768px){
.footer-header{
	margin-bottom:10px;
	width:95%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.footer-header{
	justify-content:center;
	align-items:center;
}
div.main-wrap header div.menu nav a{
display:none;
}
div.main-wrap header div.icon-menu{
	display:block;
	color:#ffffff;
	margin:10px 0 0 0;
	font-size:24px;
}
div.container{
	display:flex;
	flex-direction:row;
	width:95%;
	margin:0 auto;
}
div.main-wrap div.container main{
	width:60%;
	display:flex;
}
 main div.block:first-child{
	order:1;
}
main div.block:nth-child(2){
	order:2;
}
main div.block:nth-child(4){
	order:3;
}
main div.block:nth-child(3){
	order:4;
}
main div.block:nth-child(5){
	order:5;
}
main div.block:nth-child(6){
	order:6;
}
main div.block:nth-child(8){
	order:7;
}
main div.block:nth-child(7){
	order:8;
}
main div.block:last-child{
	order:9;
}

div.container main div.block{
	width:100%;
	
}
div.container main div.block div.post{
	position:relative;
}
div.container main div.block div.post p{
  padding-bottom:80px;
}
div.container main div.block:nth-child(3) div.post{
	flex-direction:row;
	justify-content:flex-start;
	margin-left:7%;
 }
 div.container main div.block:nth-child(7) div.post{
	flex-direction:row;
	justify-content:flex-start;
	margin-left:7%;
 }
	div.container main div.block:last-child p{
					margin-bottom:75px;					 
		}
		div.container main div.block div.post div.date-box{
		position:absolute;
		top:80%;
		left:35%;
	}
	div.container main div.block div.post div.date-box{
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		height:50%;		
	}
	div.main-wrap div.container aside{
		width:40%;
		display:flex;
		flex-direction:column;
	}
	div.main-wrap div.container aside div div.content{
		padding:10px;
		}
		div.main-wrap div.container aside div div.content h4{
		font-weight:500;
		font-size:18px;
		margin:0 auto;
		width:90%;
		}
		div.main-wrap div.container aside div div.content p{
			padding:5px;
			font-weight:300;
			font-size:12px;
			margin:0 auto;
			}
			footer{
				padding-bottom:5px;
			}
			div.main-wrap footer div:first-child{
				display:flex;
				width:90%;
				flex-direction:column;
				align-items:center;
				margin:0;
			}	
			div.main-wrap footer div:first-child p:first-child{
			margin:20px 0 0px 0;
			text-align:center;
			}
			div.main-wrap footer div:first-child p:last-child{
				margin: 0 0 3px 0;
				text-align:center;
				}
			div.main-wrap footer div:last-child{
				display:flex;
				flex-direction:column;
				align-items:center;
				margin-bottom:10px;
			}
			div.main-wrap footer div:last-child p:last-child{
				margin:0px;
			}
			div.main-wrap footer div:last-child p:first-child{
				margin:0px;
			}
}
@media only screen and (max-width: 480px){
	div.container{
		display:flex;
		flex-direction:column;
		width:95%;
		margin:0 auto;
	}
	div.main-wrap div.container main{
		width:100%;
		padding:0;
	}
	div.container main div.block div.post div.date-box{
		position:absolute;
		top:73%;
		left:35%;
	}
	div.main-wrap div.container aside{
		width:100%;
		display:flex;
		flex-direction:column;
	}
	div.main-wrap div.container aside div:first-child{
		margin:0px 0 30px 0;
	}
	div.main-wrap footer div:first-child p:last-child{
	display:flex;	
	text-align:center;
		}	
		div.main-wrap footer div:first-child{
			width:90%;
		}
		div.main-wrap footer div p{
			font-size:15px;
		}
}