$Headers:"Palatino",serif;
$PostText:"Book Antiqua",serif;
$Post_disc:"Palatino Linotype",serif;


$fnts:18px;
$fntsb:26px;

$backgrauncolorhed:url("../img/header_background_v2.jpg");
$contentBackground:#efefef;
$btns_color:#0401ac;
$bgc_articles:#ffffff;
$color_nav:#ff5722;
$color_naw_line:#ffff;
$color_h1_head:#ff5722;
$postdisc_col:#bdbdbd;
$color_p_form_posth3:#607d8b;

@mixin hover-efect {
	outline:1px solid $btns_color;
	cursor:pointer;
}
@mixin h1_sect_style{
	    text-transform:uppercase;
			font-family:$Headers;
			font-size:$fntsb;
}