$color1:#FFFFFF;
$darkgreen:#097774;
$background:#F3F3F3;
$grey:#9E9E9E;
$color5:#E8E8E8;
$black:#000000;
$color:#F0F0F0;

@mixin btnemail{
    	text-decoration:none;
			border:1px solid $black;
			padding:4px 10px;
			color:$black;
			margin-right:10px;
}
@mixin btngreen{
	background-color:$darkgreen;
	text-decoration:none;
	padding:4px 10px;
	color:$color1;
}

body{
	margin:0;
	padding:0;
	background-color:$background;
	div.main-container{
		display:flex;
		flex-direction:column;
		header{
			background-image:url("../img/sample2.jpg");
		  height:100%;
		  background-size:100% 100%;
			position: relative;
					&:after{
						content:''; 
						position:absolute;
						border:100px solid transparent;
						border-bottom:0px solid transparent;
						border-right:0px solid transparent;
						border-left:98vw solid  $color1;
						top:87.8%;
					}
					div.top-wrapper{
					 display:flex;
					 flex-direction:row;
					 justify-content:space-between;
					 div.logo{
						 margin:50px 50px;
						 p{
							 text-transform:uppercase;
							 color:$color1;
							 span{
								 margin:0 3px 0 3px;
							 }
						 }
					 }
					 div.login{
						margin:50px 50px;
						
							a:first-child{
								margin-right:50px;
							
							}
							a{
								color:$color1;
								text-decoration:none;
							}
					  }
					}
					div.main-wrapper{
					display:flex;
					flex-direction:column;
					align-items:center;
					justify-content:flex-end;
					margin-top:190px;
					p{
						margin:-10px;
					}
					}
					div.nav-text nav{
						display:flex;
						justify-content:space-around;;
					  margin-top:13%;
						padding:5% 0;
					
               a{
								 padding:7px 40px;
								 border:2px solid $color1;
								 background-color:transparent;
								 text-decoration:none;
								 color:$color1;
							 }
						}
						div.nav-text div.p-text {
							display:flex;
							justify-content:flex-end;						
							p{					
							 color:$color1;
							 width:540px;				
								margin:0 10px 80px 0;
							  z-index:3;
							}
							p:first-child{
								width:280px;
								margin:100px 140px 0 0;
								color:$black;
							}
						}			
					}	
           main section.text-headers h4{
						 display:flex;
						 justify-content:center;
					 }
					 div.main-content{
						display:flex;
						flex-direction:row;
						justify-content:space-between;
					 } 
							div.image{		
								display:flex;	
								flex-direction:column;
								background-image:url("../img/sample.jpg");
								background-repeat:no-repeat;
								background-size:cover;
								margin:10px;
								height:250px;
								width:45%;
								div{							
									align-self:flex-end;
									margin:10px 10px 0 0;							
									border:2px solid $color1;						
									font-weight:bold;
									background-color:$grey;
									opacity:0.5;
									span{
										padding:2px;
										color:$color1;
										z-index:3;
									}
								}
								span:nth-child(2){
									margin:190px 0 0 10px;
									color:$color1;
								}
							}
							div.description{
								display:flex;
								flex-direction:column;
								width:45%;
								margin:0 10px 0 20px;
							}
							div.banners{
								display:flex;
								justify-content:space-around;
								margin:70px 30px;
							
								div{
									display:flex;
									flex-direction:column;
									padding:10px;
									border-left:1px solid $grey;
									border-right:1px solid $grey;
									margin-right:50px;
									box-shadow: 0 6px 5px -4px $black;
								  a{
										margin:0 auto;
										text-decoration:none;
										font-weight:bold;
										color:$color1;
										background-color:$darkgreen;
										padding:3px 75px;
									}
								}
							}
							div.subscribe{
								display:flex;
								flex-direction:column;
								flex-wrap:wrap;
								margin:50px 10px;
								position:relative;
								div.btn-discrption div.btns{
									display:flex;
									flex-direction:row;
									flex-wrap:wrap;
									justify-content:flex-end;
									margin:20px 10px;
									a:first-child{
										@include btnemail;
									}
									a:nth-child(2){
									@include btngreen;
									}								
								}
								div.btn-discrption	div.text-btn{								
									position:absolute;
									left:55%;
								  bottom:10px;
								}              								
							}
							section.contact{
								display:flex;
								flex-direction:row;
								margin:50px 0 70px 0;
							}
							div.block{
								width:200px;
								margin:0px 30px 0 10px;
							}
							div.block:nth-child(4){
               margin-left:70px;
							}
							div.block:nth-child(3) p{
								width:170px;
							 }
							 div.block:nth-child(4) {
							  width:260px;
								div a:first-child{
								@include btnemail;
								}
								div a:nth-child(2){
								@include btngreen;
								}

							 }
							 footer{
								 display:flex;
								 flex-direction:row;
								 justify-content:space-between;
							   margin:10px;
								 span{
									 color:$grey;
								 }
								 div.inf-about a{
									 margin:10px;
									 text-decoration:none;
									 color:$black;
								 }
							 }
						}
					}