body {
  margin: 0;
  padding: 0;
  background-color: #efefef; }
  body div.main-wrapper {
    width: 100%;
    margin: 0 auto; }
    body div.main-wrapper header {
      background-image: url("../img/header_background_v2.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      height: 620px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: relative; }
      body div.main-wrapper header section {
        position: absolute;
        left: 30%;
        top: 40%; }
        body div.main-wrapper header section a {
          background-color: #0401ac;
          margin: 20px 0 0 180px;
          padding: 10px 50px;
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          font-family: "Palatino", serif; }
          body div.main-wrapper header section a:hover {
            outline: 1px solid #0401ac;
            cursor: pointer; }
        body div.main-wrapper header section h1 {
          color: #ff5722;
          text-transform: uppercase;
          font-family: "Palatino", serif;
          font-size: 26px; }
      body div.main-wrapper header div.top-wrapper nav {
        position: absolute;
        left: 550px;
        top: 20px; }
        body div.main-wrapper header div.top-wrapper nav a {
          text-decoration: none;
          color: #ff5722;
          text-transform: uppercase;
          font-family: "Book Antiqua", serif;
          font-size: 18px;
          font-weight: 700;
          margin: 0 85px 0 0;
          padding: 50px  0  0 105px; }
          body div.main-wrapper header div.top-wrapper nav a:not(:first-child) {
            border-left: 2px #ffff solid; }
    body div.main-wrapper main div.toolbar input {
      margin: 20px 0 0 1000px;
      padding: 7px 20px;
      border: 1px grey solid; }
    body div.main-wrapper main section#list.post-list h1 {
      text-transform: uppercase;
      font-family: "Palatino", serif;
      font-size: 26px;
      font-weight: 900;
      margin: 20px 0 0 1140px; }
    body div.main-wrapper main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      body div.main-wrapper main section article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 80%;
        margin: 0 auto;
        background-color: #ffffff;
        margin-bottom: 20px;
        height: 305px; }
        body div.main-wrapper main section article img {
          padding: 10px; }
        body div.main-wrapper main section article div .post .post-description {
          border-bottom: 1px #607d8b solid;
          bottom: 60%;
          width: 98%;
          margin: 25px 0 0 0;
          padding-bottom: 15px;
          color: #bdbdbd;
          font-size: 18px;
          font-family: "Palatino Linotype", serif; }
        body div.main-wrapper main section article div .post h3 {
          color: #607d8b;
          margin: 5px 0 5px 0;
          font-family: "Palatino", serif;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 900; }
        body div.main-wrapper main section article div .post p {
          margin-top: 0;
          font-family: "Book Antiqua", serif; }
        body div.main-wrapper main section article div {
          position: relative; }
      body div.main-wrapper main section#contact h1 {
        margin: 70px 0 0 900px;
        text-transform: uppercase;
        font-family: "Palatino", serif;
        font-size: 26px;
        font-weight: 900; }
      body div.main-wrapper main section#contact h4 {
        margin: 5px 0 50px 540px;
        font-family: "Palatino", serif;
        text-transform: uppercase;
        font-size: 18px; }
      body div.main-wrapper main section#contact form button {
        margin: 23px 0 20px 935px;
        padding: 10px 50px;
        border: none;
        color: #fff;
        background-color: #0401ac;
        text-transform: uppercase; }
        body div.main-wrapper main section#contact form button:hover {
          outline: 1px solid #0401ac;
          cursor: pointer; }
    body div.main-wrapper section.post-list div .btn {
      position: absolute;
      left: 570px;
      bottom: 40px;
      padding: 10px 50px;
      border: none;
      color: #fff;
      background-color: #0401ac;
      text-transform: uppercase; }
      body div.main-wrapper section.post-list div .btn:hover {
        outline: 1px solid #0401ac;
        cursor: pointer; }
    body div.main-wrapper main section#about {
      width: 80%;
      margin: 0 auto; }
    body div.main-wrapper main section#about.about div h1 {
      text-transform: uppercase;
      font-family: "Palatino", serif;
      font-size: 26px;
      font-weight: 900;
      margin: 20px 0 0 930px; }
    body div.main-wrapper main section#contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      width: 80%;
      margin: 0 auto;
      position: relative; }
    body div.main-wrapper main section#contact form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      body div.main-wrapper main section#contact form input#fullname {
        width: 545px;
        height: 30px; }
      body div.main-wrapper main section#contact form input#emailfild {
        width: 490px;
        height: 30px;
        margin-left: 30px; }
      body div.main-wrapper main section#contact form p:first-child {
        position: absolute;
        color: #607d8b;
        top: 130px;
        left: 470px; }
        body div.main-wrapper main section#contact form p:first-child:after {
          content: "*"; }
      body div.main-wrapper main section#contact form p:nth-child(3) {
        position: absolute;
        color: #607d8b;
        left: 970px;
        top: 130px; }
        body div.main-wrapper main section#contact form p:nth-child(3):after {
          content: "*"; }
      body div.main-wrapper main section#contact form p:nth-child(5) {
        margin: 30px 0 5px 900px;
        color: #607d8b; }

/*# sourceMappingURL=style1.css.map */